<div class="">
    <div class="header">
        <div class="header-sub-div" style="text-align: left">
            <%= image_tag("flipkart.png", :alt => "rss feed", :class=>"logo") %>
        </div>
        <div class="header-sub-div">
            <input type="text" id="search" name="search" placeholder="Search">
        </div>
        <div class="header-sub-div">
            <a href="/login">LOGIN</a>
        </div>
        <div class="header-sub-div">CART</div>
    </div>
</div>