// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*
{
    padding: 0px;
    margin: 0px;
}
.custom-header
{
    height: 60px;
    width: 100%;
    background-color: blue;
}

.custom-header-sub-div
{
    width: 22%;
    height: 60px;
    float: left;
    padding: 10px;
    line-height: 60px;
    text-align: right;
}
.logo
{
    border-radius: 20px;
    height: 50px;
}
